<!DOCTYPE html>
<html>
<head>
    <title>Pennant</title>
    <meta charset="utf-8" />
    <link rel="stylesheet"href="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>
</head>
<body>
    <form>
        <input id="filter-for-listview" data-type="search" placeholder="Type to search...">
    </form>
        <ul data-role="listview" data-inset="true" data-filter="true" data-input="#filter-for-listview">
    {% for course in courseList %}
    <li><a href="#">{{ course.oneline }}</a></li>
    {% endfor %}
    </ul>
</body>
</html>
